/*** setup ***/
body 
{ 
	font:12px/1.5 Verdana,sans-serif; 
	background:gray; 
}
h1
{
	color:white;
}
h2
{
	color:black;
}

#container
{
	position: absolute;
	margin-right: 20px;
	margin-left: 230px;
	margin-bottom: 20px;
	width: 70%;
	background: white;
}

#links
{
        font-size: 90%;
	padding: 10px 15px 15px 15px;
	width: 208px;
	float: right;
}
