<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
	    <title>Kevin's Blog</title>
	    <link rel="stylesheet" href="{{ STATIC_URL }}blog.css" type="text/css">
	</head>
	<body>
		<a href="/">
		<table>
			<tr>
				<td><image src="{{ STATIC_URL }}pic.jpg">
				<td><h1>Kevin DiTraglia's Blog</h1><br>
				<span style="color:black;">Where I write about stuff!</span>
			</tr>
		</table>
		</a>
		<div id="container">
			<div id="blogs">
				{% block content %}

				{% endblock %}
			</div>
			<div id="footer">
				Content © 2013 Kevin DiTraglia. All Rights Reserved.
			</div>
		</div>
		<div id="links">
			<hr>
			<h2>Categories</h2>
			{% for category in categories %}
			<li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
			{% endfor %}
			<hr>
			<h2>Recent Posts</h2>
			{% for post in allposts %}
			<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
			{% endfor %}
			<hr>
			<a href="http://stackexchange.com/users/1383921">
			<img src="http://stackexchange.com/users/flair/1383921.png" width="208" height="58" alt="profile for KDiTraglia on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for KDiTraglia on Stack Exchange, a network of free, community-driven Q&amp;A sites">
			</a>
		</div>
	</body>
</html>
