<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Kevin's Blog</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}blog.css" type="text/css">
</head>
<body>
<h1>Kevin DiTraglia's Blog</h1>
<div id="container">
{% block content %}

{% endblock %}
</div>
<div id="links">
    <h2>Categories</h2>
    {% for category in categories %}
    <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
    {% endfor %}
</div>
</body>
</html>
