<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% extends 'base.html' %}
{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
	<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
	<h3>{{ post.posted }}</h3>
	{{ post.body|safe }}<br>
	<hr>
	<ul class="pager">
   		<li class="previous"><a href="/">← Back to posts</a></li>
	</ul>
	<div class="well">
	 
	    <h4>Leave a comment</h4>
	 
	    <form role="form" class="clearfix" method="post" action="">
	 		{% csrf_token %}
	        <div class="col-md-6 form-group">
	            <label class="sr-only" for="name">Name</label>
	            <input type="text" class="form-control" id="name" name="username" placeholder="Name">
	        </div>
	 
	        <div class="col-md-6 form-group">
	            <label class="sr-only" for="email">Email</label>
	            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
	        </div>
	 
	        <div class="col-md-12 form-group">
	            <label class="sr-only" for="email">Comment</label>
	            <textarea class="form-control" id="comment" name="comment" placeholder="Comment"></textarea>
	        </div>
	 
	        <div class="col-md-12 form-group text-right">
	            <button type="submit" class="btn btn-primary">Submit</button>
	        </div>
	 
	    </form>                   
	</div>
	<hr>
	{% if comments %}
		<ul id="comments" class="comments">
		    {% for comment in comments %}
		    <li class="comment" id="Comment{{ comment.id }}">
		        <div class="clearfix">
		            <h4 class="pull-left">{{ comment.user }}</h4>
		            <p class="pull-right">{{ comment.posted }}</p>
		        </div>
		        <p>
		            <em>{{ comment.body }}</em>
		        </p>
	    	</li>
		    {% endfor %}
		</ul>
	{% else %}
		<div id="comment">
			<p>No comments have been left on this post.</p>
		</div>
	{% endif %}
{% endblock %}
